h1 {
  text-align: center;
  color: blue;
}

div.conteiner {
  display: flex;
  background-color: rgb(99, 6, 185);
  /* flex-direction: row;
  flex-wrap: wrap; */ /* de manera automatica se va ajustando */
  height: 300px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch; /* horizontal */
  align-content: space-between; /* vertical */
}

div.conteiner > p {
  background-color: rgb(43, 128, 226);
  color: white;
  margin: 20px;
  padding: 15px;
  font-size: 1.5em;
}
