h1 {
  text-align: center;
  color: crimson;
}

div {
  padding: 15px;
  margin: auto;
  max-width: 400px;
}

.icono_rojo {
  color: crimson;
  font-size: 3em;
}

.icono_azul {
  color: dodgerblue;
  font-size: 3em;
}
